.section {
    @apply flex flex-col m-auto mt-10 max-h-screen; 
}

.container {
    @apply m-auto;
    max-width: 512px; 
}

.listTitle {
    font-size: 1.75rem; 
}

@media (min-width: 1024px) { 
    .section {
		min-width: 768px;
	}
    .container {
        @apply max-w-screen-lg; 
    }
}
